/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$danger-1-name: 'danger-1';
$danger-1-x: 236px;
$danger-1-y: 425px;
$danger-1-offset-x: -236px;
$danger-1-offset-y: -425px;
$danger-1-width: 118px;
$danger-1-height: 119px;
$danger-1-total-width: 710px;
$danger-1-total-height: 596px;
$danger-1-image: '../images/sprite.png';
$danger-1: (236px, 425px, -236px, -425px, 118px, 119px, 710px, 596px, '../images/sprite.png', 'danger-1', );
$danger-2-name: 'danger-2';
$danger-2-x: 472px;
$danger-2-y: 425px;
$danger-2-offset-x: -472px;
$danger-2-offset-y: -425px;
$danger-2-width: 118px;
$danger-2-height: 119px;
$danger-2-total-width: 710px;
$danger-2-total-height: 596px;
$danger-2-image: '../images/sprite.png';
$danger-2: (472px, 425px, -472px, -425px, 118px, 119px, 710px, 596px, '../images/sprite.png', 'danger-2', );
$danger-3-name: 'danger-3';
$danger-3-x: 354px;
$danger-3-y: 425px;
$danger-3-offset-x: -354px;
$danger-3-offset-y: -425px;
$danger-3-width: 118px;
$danger-3-height: 119px;
$danger-3-total-width: 710px;
$danger-3-total-height: 596px;
$danger-3-image: '../images/sprite.png';
$danger-3: (354px, 425px, -354px, -425px, 118px, 119px, 710px, 596px, '../images/sprite.png', 'danger-3', );
$danger-4-name: 'danger-4';
$danger-4-x: 0px;
$danger-4-y: 425px;
$danger-4-offset-x: 0px;
$danger-4-offset-y: -425px;
$danger-4-width: 118px;
$danger-4-height: 119px;
$danger-4-total-width: 710px;
$danger-4-total-height: 596px;
$danger-4-image: '../images/sprite.png';
$danger-4: (0px, 425px, 0px, -425px, 118px, 119px, 710px, 596px, '../images/sprite.png', 'danger-4', );
$danger-5-name: 'danger-5';
$danger-5-x: 118px;
$danger-5-y: 425px;
$danger-5-offset-x: -118px;
$danger-5-offset-y: -425px;
$danger-5-width: 118px;
$danger-5-height: 119px;
$danger-5-total-width: 710px;
$danger-5-total-height: 596px;
$danger-5-image: '../images/sprite.png';
$danger-5: (118px, 425px, -118px, -425px, 118px, 119px, 710px, 596px, '../images/sprite.png', 'danger-5', );
$kid-name: 'kid';
$kid-x: 0px;
$kid-y: 0px;
$kid-offset-x: 0px;
$kid-offset-y: 0px;
$kid-width: 292px;
$kid-height: 352px;
$kid-total-width: 710px;
$kid-total-height: 596px;
$kid-image: '../images/sprite.png';
$kid: (0px, 0px, 0px, 0px, 292px, 352px, 710px, 596px, '../images/sprite.png', 'kid', );
$logotype-name: 'logotype';
$logotype-x: 0px;
$logotype-y: 544px;
$logotype-offset-x: 0px;
$logotype-offset-y: -544px;
$logotype-width: 148px;
$logotype-height: 52px;
$logotype-total-width: 710px;
$logotype-total-height: 596px;
$logotype-image: '../images/sprite.png';
$logotype: (0px, 544px, 0px, -544px, 148px, 52px, 710px, 596px, '../images/sprite.png', 'logotype', );
$megafon-name: 'megafon';
$megafon-x: 148px;
$megafon-y: 544px;
$megafon-offset-x: -148px;
$megafon-offset-y: -544px;
$megafon-width: 184px;
$megafon-height: 39px;
$megafon-total-width: 710px;
$megafon-total-height: 596px;
$megafon-image: '../images/sprite.png';
$megafon: (148px, 544px, -148px, -544px, 184px, 39px, 710px, 596px, '../images/sprite.png', 'megafon', );
$persents-42-name: 'persents-42';
$persents-42-x: 292px;
$persents-42-y: 267px;
$persents-42-offset-x: -292px;
$persents-42-offset-y: -267px;
$persents-42-width: 201px;
$persents-42-height: 73px;
$persents-42-total-width: 710px;
$persents-42-total-height: 596px;
$persents-42-image: '../images/sprite.png';
$persents-42: (292px, 267px, -292px, -267px, 201px, 73px, 710px, 596px, '../images/sprite.png', 'persents-42', );
$persents-45-name: 'persents-45';
$persents-45-x: 493px;
$persents-45-y: 267px;
$persents-45-offset-x: -493px;
$persents-45-offset-y: -267px;
$persents-45-width: 201px;
$persents-45-height: 73px;
$persents-45-total-width: 710px;
$persents-45-total-height: 596px;
$persents-45-image: '../images/sprite.png';
$persents-45: (493px, 267px, -493px, -267px, 201px, 73px, 710px, 596px, '../images/sprite.png', 'persents-45', );
$persents-53-name: 'persents-53';
$persents-53-x: 0px;
$persents-53-y: 352px;
$persents-53-offset-x: 0px;
$persents-53-offset-y: -352px;
$persents-53-width: 200px;
$persents-53-height: 73px;
$persents-53-total-width: 710px;
$persents-53-total-height: 596px;
$persents-53-image: '../images/sprite.png';
$persents-53: (0px, 352px, 0px, -352px, 200px, 73px, 710px, 596px, '../images/sprite.png', 'persents-53', );
$persents-60-name: 'persents-60';
$persents-60-x: 400px;
$persents-60-y: 352px;
$persents-60-offset-x: -400px;
$persents-60-offset-y: -352px;
$persents-60-width: 199px;
$persents-60-height: 73px;
$persents-60-total-width: 710px;
$persents-60-total-height: 596px;
$persents-60-image: '../images/sprite.png';
$persents-60: (400px, 352px, -400px, -352px, 199px, 73px, 710px, 596px, '../images/sprite.png', 'persents-60', );
$persents-92-name: 'persents-92';
$persents-92-x: 200px;
$persents-92-y: 352px;
$persents-92-offset-x: -200px;
$persents-92-offset-y: -352px;
$persents-92-width: 200px;
$persents-92-height: 73px;
$persents-92-total-width: 710px;
$persents-92-total-height: 596px;
$persents-92-image: '../images/sprite.png';
$persents-92: (200px, 352px, -200px, -352px, 200px, 73px, 710px, 596px, '../images/sprite.png', 'persents-92', );
$persents-small-name: 'persents-small';
$persents-small-x: 292px;
$persents-small-y: 160px;
$persents-small-offset-x: -292px;
$persents-small-offset-y: -160px;
$persents-small-width: 280px;
$persents-small-height: 107px;
$persents-small-total-width: 710px;
$persents-small-total-height: 596px;
$persents-small-image: '../images/sprite.png';
$persents-small: (292px, 160px, -292px, -160px, 280px, 107px, 710px, 596px, '../images/sprite.png', 'persents-small', );
$persents-name: 'persents';
$persents-x: 292px;
$persents-y: 0px;
$persents-offset-x: -292px;
$persents-offset-y: 0px;
$persents-width: 418px;
$persents-height: 160px;
$persents-total-width: 710px;
$persents-total-height: 596px;
$persents-image: '../images/sprite.png';
$persents: (292px, 0px, -292px, 0px, 418px, 160px, 710px, 596px, '../images/sprite.png', 'persents', );
$spritesheet-width: 710px;
$spritesheet-height: 596px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($danger-1, $danger-2, $danger-3, $danger-4, $danger-5, $kid, $logotype, $megafon, $persents-42, $persents-45, $persents-53, $persents-60, $persents-92, $persents-small, $persents, );
$spritesheet: (710px, 596px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
